In [4]:
import pandas as pd
import numpy as np

In [17]:
array =np.random.randint(192, size=(3,5))
array

array([[ 57,  74, 167, 105, 152],
       [124,  12, 173, 113,  10],
       [124,   0, 147, 140, 174]])

In [22]:
data = pd.DataFrame(array, columns=('jo','ja','ma','c','z'))

In [30]:
data.isnull().sum()

jo    0
ja    0
ma    0
c     0
z     0
dtype: int64

In [48]:
data['z'] = 4
data

    jo  ja   ma    c  z
0    0   0    0    0  4
1  124  12  173  113  4
2  124   0  147  140  4

In [49]:
data._get_numeric_data()

    jo  ja   ma    c  z
0    0   0    0    0  4
1  124  12  173  113  4
2  124   0  147  140  4

In [50]:
drop_cols = list(data.isnull().sum()[data.isnull().sum() > 10000].index)

In [51]:
drop_cols

[]

In [55]:
np.percentile(data['z'], 90)

4.0

In [53]:
min(data['z'])

4